@import url(https://fonts.googleapis.com/css?family=Bangers);

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-family: 'Bangers';
  font-size: 42pt;
  --picotee-blue: #2b1e88;
  --cornflower-blue: #8390fa;
  --maize-crayola: #fac748;
  --lavender-blush: #f9e9ec;
  --pink: #f88dad;
  text-shadow: 3px 3px 2px black;
}

body {
  background-image: url(/background_image.jpg);
  height: 100%;
  width: 100%;
}

.header {
  color: var(--pink);
  font-size: 60pt;
  text-shadow: 2px 2px 2px black;
}


.welcome, .result {
  border: 8px inset var(--pink);
  border-radius: 18px;
  display: flex;
  flex-flow: column nowrap;
}

.welcome {
  margin: 80px auto;
  width: 500px;
  max-width: 60%;
  padding: 15px;

  background-color: var(--maize-crayola);
  color: var(--picotee-blue);

  border: 8px inset var(--pink);
  padding: auto;
}

.welcome__button:disabled {
  opacity: 0.7;
}

.welcome__button {
  all: inherit;
  padding: 2px;
  margin: 15px auto;
  background-color: var(--picotee-blue);
  color: var(--pink);
  border-radius: 5px;

  width: 70%;
  text-align: center;
  transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.welcome__button, .button-restart:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.welcome__radio {
  appearance: none;
  -webkit-appearance: none;

  font: inherit;
  height: 0.75em;
  width: 0.75em;
  border: 2px solid var(--picotee-blue);
  border-radius: 50%;
}

.welcome__radio:checked {
  border: 3px solid var(--cornflower-blue);
}

.welcome__option {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
}

.welcome__option:hover {
  cursor: pointer;
}

.header {
  text-align: center;
}

.board {
  width: 600px;
  height: 600px;
  aspect-ratio: 1;
  margin: 50px auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 10px ridge var(--pink);

  background-color: var(--maize-crayola);
}

.board__options {
  gap: 5px;
  margin: 5px 20px;
}

.board__cell {
  aspect-ratio: 1;
  border: 5px inset var(--pink);
  font-size: 80pt;
  color: var(--picotee-blue);
  text-shadow: 2px 2px 2px black;

  /** Centering text */
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.button-restart {
  all: inherit;
  padding: 15px;
  margin: 15px auto;
  background-color: var(--maize-crayola);
  color: var(--picotee-blue);
  border: 8px inset var(--pink);
  cursor: pointer;
  transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}



.result {
  position: fixed;
  z-index: 1;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 500px;
  
  padding: 20px;

  background-color: var(--cornflower-blue);
  color: var(--pink);

  justify-content: center;
  align-items: center;
  gap: 10px;
  
  font-size: 32pt;
}


.result__accept {
  font-family: inherit;
  color: var(--picotee-blue); 
  text-shadow: inherit;

  background-color: var(--maize-crayola);

  font-size: 32pt;

  padding: 0.3em 0.2em;
  border: 3px inset var(--pink);
  cursor: pointer;
}