html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}


.welcome {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: rgba(2, 120, 2, 0.3);

  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.welcome__button {
  all: unset;

  border: 2px solid white;
  border-radius: 3px;

  background-color: white;
  padding: 0.1em 0.5em;
  height: 1.5em;
  text-align: center;
}

.welcome__button:hover {
  border-color: gray;
}
