@import url(https://fonts.googleapis.com/css?family=Staatliches);

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  font-family: 'Staatliches';
  font-size: 36pt;
  --violet-blue: #6369D1;
  --alice-blue: #EBF2FA;
  --vermillion: #D64045;
}

.welcome {
  margin: 5% auto;
  height: 5em;
  width: 500px;
  padding: 70px; 
  border-radius: 10px;
  
  background-color: var(--alice-blue);
  color: var(--vermillion);
  font-size: 40pt;  


  padding: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.welcome__button {
  all: unset;
  background-color: var(--violet-blue); 
  color: black;
  border: 2px solid white;
  border-radius: 3px;

  padding: 0.1em 0.5em;
  width: 70%;
  margin: 10px auto; 
  height: 1.5em;
  text-align: center;
}

.welcome__button:hover {
  border-color: white;
  
}

.header {
  text-align: center;
}

.board {
  height: 500px;
  width: 500px;
  margin: auto;
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board__options {
  margin: 5px auto;
}

.board__cell {
  aspect-ratio: 1;
  min-height: 100px;
  min-width: 100px;

  border: 1px solid black;

  text-align: center;
  padding: 16%;
  font-size: 72pt;
  color: var(--vermillion);
}

.button-restart {
  margin: auto;
}
